<div class="m-portlet m-portlet--mobile animationtest">

	<div class="m-portlet__head">
		<div class="m--space-30"></div>
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-20">
			<div class="ui-g align-items-center ticketfilters">
				<div class="ui-g-4 ui-sm-12	m-form__group m-form__group--inline first">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Marca
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-dropdown [options]="brandDropdown" [(ngModel)]="selectedBrand" (ngModelChange)="onBrandChange($event)" filter="true" optionLabel="name"
						 [autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 m-form__group m-form__group--inline middle">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Tienda
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-dropdown [options]="storeDropdown" [(ngModel)]="selectedStore" (ngModelChange)="onStoreChange($event)" filter="true" optionLabel="name" 
						[autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 m-form__group m-form__group--inline last">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Familia
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-dropdown [options]="familyDropdown" [(ngModel)]="selectedFamily" (ngModelChange)="onOtherDropdownChange($event)" filter="true" optionLabel="name" 
						[autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 m-form__group m-form__group--inline first">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Prioridad
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-dropdown [options]="priorityDropdown" [(ngModel)]="selectedPriority" (ngModelChange)="onOtherDropdownChange($event)" filter="true" optionLabel="name" 
						[autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 m-form__group m-form__group--inline middle">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Estado
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-multiSelect [options]="statusDropdown" [(ngModel)]="selectedStatus" (ngModelChange)="onOtherDropdownChange($event)" 
						optionLabel="name" defaultLabel="Seleccionar" maxSelectedLabels=2 dropdownIcon="fa fa-angle-down"></p-multiSelect>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 m-form__group m-form__group--inline last">
					<div class="ui-g-12 dd-label">
						<label class="m-label m-label--single">
							Fecha
						</label>
					</div>
					<div class="ui-g-12 ui-fluid dd-selector">
						<p-calendar [(ngModel)]="dateRangeSelected" (ngModelChange)="onOtherDropdownChange($event)" selectionMode="range" readonlyInput="true" [showIcon]="true"></p-calendar>
					</div>
				</div>
			</div>


			<div class="m-separator m-separator--dashed"></div>

			<div class="ui-g align-items-center ticketfilters">
				<div class="ui-g-6 ui-sm-12	m-form__group m-form__group--inline first">
					<div class="ui-g-12 ui-fluid dd-selector">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input" placeholder="Buscar..." id="m_form_search">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-search"></i>
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="ui-g-6 ui-sm-12 m-form__group m-form__group--inline last">

					<div class="ui-g-12 dd-selector">

						<div class="ui-g-10">
							<a routerLink="/tickets/detail" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" style="float: right;">
								<span>
									<i class="la la-rocket"></i>
									<span>
										Nuevo Ticket
									</span>
								</span>
							</a>
						</div>
						<div class="ui-g-2" style="padding-top: 12px;">
							<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
							 aria-expanded="true" style="float: right;">
								<a class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
									<i class="la la-plus m--hide"></i>
									<i class="la la-ellipsis-h m--font-brand"></i>
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav">
													<li class="m-nav__section m-nav__section--first">
														<span class="m-nav__section-text">
															Acciones
														</span>
													</li>
													<li class="m-nav__item">
														<a href="/tickets" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-graphic-2"></i>
															<span class="m-nav__link-text">
																Exportar Reporte
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="/tickets" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-lifebuoy"></i>
															<span class="m-nav__link-text">
																Soporte
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
				<div class="m-separator m-separator--dashed d-xl-none"></div>
			</div>

		</div>

	</div>
	<div class="m-portlet__body">
		
			<p-dataTable class="metronic-theme" [value]="adminTickets" scrollable="true" scrollWidth="100%" [rows]="10" 
												[paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,25,50]">
					<p-column field="globalTicketId" header="Ticket" [style]="{'width':'80px','text-align':'center'}"></p-column>
					<p-column field="statusDescription" header="Estado" [style]="{'width':'150px','text-align':'center'}">
							<!-- <ng-template let-col let-ticket="rowData" pTemplate="body">
									<span [ngClass]="colorsClass[ticket[col.field]]">{{ticket[col.field]}}</span>
							</ng-template> -->
							<ng-template let-col let-ticket="rowData" pTemplate="body">
									<span class="m-badge m-badge--wide" 
									[ngStyle]="{'background-color': statusColor[ticket[col.field]], 'color':'#ffffff'}">
									{{ticket[col.field]}}</span>
							</ng-template>
					</p-column>
					<p-column field="brandDescription" header="Marca" [style]="{'width':'150px','text-align':'center'}"></p-column>
					<p-column field="storeDescription" header="Tienda" [style]="{'width':'250px','text-align':'center'}"></p-column>
					<p-column field="priorityDescitpiont" header="Prioridad" [style]="{'width':'80px','text-align':'center'}"></p-column>
					<p-column field="classificationDescription" header="Clasificación" [style]="{'width':'150px','text-align':'center'}"></p-column>
					<p-column field="familyDescription" header="Familia" [style]="{'width':'150px','text-align':'center'}"></p-column>
					<p-column field="equipmentDescription" header="Nombre de Equipo" [style]="{'width':'200px','text-align':'center'}"></p-column>
					<p-column field="failTypeDescription" header="Tipo de Falla" [style]="{'width':'90px','text-align':'center'}"></p-column>
					<p-column field="supportAdminDescription" header="Coordinador" [style]="{'width':'150px','text-align':'center'}"></p-column>
					<p-column field="createdDate" header="Fecha de Inicio" [style]="{'width':'250px','text-align':'center'}"></p-column>
					<p-column field="confirmationDate" header="Fecha de Confirmación" [style]="{'width':'250px','text-align':'center'}"></p-column>
			</p-dataTable>
		<!--begin: Datatable -->

		<!-- <div class="m_datatable" id="ajax_data"></div> -->
		<!--end: Datatable -->
	</div>
</div>


