<!-- END: Subheader -->
<div class="row animationtest">

  <div class="col-lg-12">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Detalles
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Fotos
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Historial
              </a>
            </li>
          </ul>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                aria-expanded="true">
                <a class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                  <i class="la la-plus"></i>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">
                              Acciones
                            </span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-edit"></i>
                              <span class="m-nav__link-text">
                                Editar
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="m_user_profile_tab_1">
          <form class="m-form">

            <div class="m-portlet__body">


              <div class="ui-g">
                <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6 portlet-details">
                  <div class="ui-g-12 detail-group">
                    <h3 class="m-form__section title">
                      <i class="fa fa-flag"></i>
                      Detalles de Solicitud:
                    </h3>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Fecha de Ingreso:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>28/11/2017 10:00 PM</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Solicitante:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>marsano.chwk@ngr.com.pe</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Marca y Local:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>China Wok - CW - OP Angamos</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        CEBE:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>80005583550</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Prioridad:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>A1</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Clasificación:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>Equipos</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        ID de Equipo:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>CWE0012</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Equipo:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>MESA REFRIGERADA</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Tipo de Falla:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>Total</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Estado:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>
                        <span class="m-badge m-badge--wide" style="background: #ed6b75; color: #ffffff;">Ingresado</span>
                      </p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <h3 class="m-form__section title">
                      <i class="fa fa-flag"></i>
                      Detalles de Responsables:
                    </h3>
                  </div>


                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Cordinado por:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>Abel Meza</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Asignado a:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>Contratista</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Responsable:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>Climasol</p>
                    </div>
                  </div>


                </div>

                <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6 portlet-details">

                  <!-- begin::Quick Sidebar -->
                  <div class="ui-g-12 detail-group">
                      <h3 class="m-form__section title">
                        <i class="fa fa-flag"></i>
                        Comentarios:
                      </h3>
                    </div>
                    <div class=" m-scrollable" style="overflow-y: auto; height: 400px; width: 400px;">
                      <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                        <div class="m-messenger__messages">
                          <div class="m-messenger__message m-messenger__message--in">
                            <div class="m-messenger__message-pic">
                              <img src="./assets/app/media/img//users/user3.jpg" alt="" />
                            </div>
                            <div class="m-messenger__message-body">
                              <div class="m-messenger__message-arrow"></div>
                              <div class="m-messenger__message-content">
                                <div class="m-messenger__message-username">
                                  Megan wrote
                                </div>
                                <div class="m-messenger__message-text">
                                  Hi Bob. What time will be the meeting ?
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="m-messenger__message m-messenger__message--out">
                            <div class="m-messenger__message-body">
                              <div class="m-messenger__message-arrow"></div>
                              <div class="m-messenger__message-content">
                                  <div class="m-messenger__message-username">
                                      Bob wrote
                                    </div>
                                <div class="m-messenger__message-text">
                                  Hi Megan. It's at 2.30PM
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="m-messenger__message m-messenger__message--in">
                            <div class="m-messenger__message-pic">
                              <img src="./assets/app/media/img//users/user3.jpg" alt="" />
                            </div>
                            <div class="m-messenger__message-body">
                              <div class="m-messenger__message-arrow"></div>
                              <div class="m-messenger__message-content">
                                <div class="m-messenger__message-username">
                                  Megan wrote
                                </div>
                                <div class="m-messenger__message-text">
                                  Will the development team be joining ?
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="m-messenger__message m-messenger__message--out">
                            <div class="m-messenger__message-body">
                              <div class="m-messenger__message-arrow"></div>
                              <div class="m-messenger__message-content">
                                  <div class="m-messenger__message-username">
                                      Bob wrote
                                    </div>
                                <div class="m-messenger__message-text">
                                  Yes sure. I invited them as well
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="m-messenger__datetime">
                            2:30PM
                          </div>
                          <div class="m-messenger__message m-messenger__message--in">
                            <div class="m-messenger__message-pic">
                              <img src="./assets/app/media/img//users/user3.jpg" alt="" />
                            </div>
                            <div class="m-messenger__message-body">
                              <div class="m-messenger__message-arrow"></div>
                              <div class="m-messenger__message-content">
                                <div class="m-messenger__message-username">
                                  Megan wrote
                                </div>
                                <div class="m-messenger__message-text">
                                  Noted. For the Coca-Cola Mobile App project as well ?
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        
                    </div>
                  </div>
                  <!-- end::Quick Sidebar -->
                  <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                  <div class="m-messenger__seperator"></div>
                  <div class="m-messenger__form">
                      <div class="m-messenger__form-controls">
                          <input type="text" name="" placeholder="Type here..." class="m-messenger__form-input">
                        </div>
                        <div class="m-messenger__form-tools">
                          <a href="" class="m-messenger__form-attachment">
                            <i class="la la-paperclip"></i>
                          </a>
                        </div>
                  </div>
                </div>

                </div>



              </div>
              <!-- <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div> -->
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-7">
                    <button routerLink="/tickets" type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                      Guardar
                    </button> &nbsp;&nbsp;
                    <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane active" id="m_user_profile_tab_2"></div>
      </div>
    </div>
  </div>
</div>