<!-- END: Subheader -->
<div class="row animationtest">

  <div class="col-lg-12">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Detalles
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Fotos
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                <i class="flaticon-share m--hide"></i>
                Historial
              </a>
            </li>
          </ul>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                aria-expanded="true">
                <a class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                  <i class="la la-plus"></i>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <span class="m-nav__section-text">
                              Acciones
                            </span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                              <i class="m-nav__link-icon flaticon-edit"></i>
                              <span class="m-nav__link-text">
                                Editar
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="m_user_profile_tab_1">
          <div class="m-form">

            <div class="m-portlet__body">


              <div *ngIf="ticketDetails$ | async; let ticketDetails" class="ui-g" >
                
                <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6 portlet-details">
                  <div class="ui-g-12 detail-group title">
                    <h3 class="m-form__section title">
                      <i class="la la-info-circle"></i>
                      Detalles de Solicitud:
                    </h3>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Fecha de Ingreso:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].CreatedOnDisplay}}</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Solicitante:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>marsano.chwk@ngr.com.pe - TBD</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Marca y Local:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].Brand}} - {{ticketDetails[0].Store}}</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        CEBE:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].CostCenter}}</p>
                    </div>
                  </div>
                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Prioridad:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].TicketPriority}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Clasificación:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].Classification}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Equipo:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].EquipmentDetail}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Tipo de Falla:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].FailureType}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group detail-last">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Estado:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>
                        <span class="m-badge m-badge--wide" style="background: #ed6b75; color: #ffffff;">{{ticketDetails[0].Status}}</span>
                      </p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <h3 class="m-form__section title">
                      <i class="la la-user-secret"></i>
                      Detalles de Responsables:
                    </h3>
                  </div>


                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Cordinado por:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].SupportAdminName}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Asignado a:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].TechnicianType}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group detail-last">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Responsable:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p>{{ticketDetails[0].TechnicianOrProviderName}}</p>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <h3 class="m-form__section title">
                      <i class="la la-fighter-jet"></i>
                      Acciones a Tomar:
                    </h3>
                  </div>


                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Nuevo Estado:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p-dropdown [options]="nextStatusDropdown" [(ngModel)]="nextSelectedStatus" optionLabel="description" 
                      [autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Asignar a:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p-dropdown [options]="nextTecnicianTypeDropdown" [(ngModel)]="nextSelectedTecnicianType" (ngModelChange)="onTechnicianTypeOptionsChange($event)" 
                      optionLabel="TechTypeName" 
                      [autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
                    </div>
                  </div>

                  <div class="ui-g-12 detail-group detail-last">
                    <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 detail-label-holder">
                      <label class="m-label detail-label">
                        Nuevo Responsable:
                      </label>
                    </div>
                    <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid detail-value">
                      <p-dropdown [options]="nextTechOrProviderNameDropdown" [(ngModel)]="nextTechOrProviderName" optionLabel="Name" 
                      [autoWidth]="false" dropdownIcon="fa fa-angle-down"></p-dropdown>
                    </div>
                  </div>


                </div>

                <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6 portlet-details">

                  <!-- begin::Quick Sidebar -->
                  <div class="ui-g-12 detail-group">
                    <h3 class="m-form__section title">
                      <i class="la la-comments"></i>
                      Comentarios:
                    </h3>
                  </div>

                  <div class="m-widget3">
                      <div class="m-widget3__item">
                        <div class="m-widget3__header">
                          <div class="m-widget3__user-img">
                            <img class="m-widget3__img" src="./assets/img/users/user1.jpg" alt="">
                          </div>
                          <div class="m-widget3__info">
                            <span class="m-widget3__username">
                              marsano.chwk@ngr.com.pe
                            </span>
                            <br>
                            <span class="m-widget3__time">
                              28/11/2017 10:00 PM
                            </span>
                          </div>
                        </div>
                        <div class="m-widget3__body">
                          <p class="m-widget3__text">
                              cambio de campana de servicio deteriorada
                          </p>
                        </div>
                      </div>
                      <div class="m-widget3__item">
                        <div class="m-widget3__header">
                          <div class="m-widget3__user-img">
                            <img class="m-widget3__img" src="./assets/img/users/user2.jpg" alt="">
                          </div>
                          <div class="m-widget3__info">
                            <span class="m-widget3__username">
                                ameza@ngr.com.pe
                            </span>
                            <br>
                            <span class="m-widget3__time">
                              30/11/2017 11:50 PM
                            </span>
                          </div>
                        </div>
                        <div class="m-widget3__body">
                          <p class="m-widget3__text">
                            Se realizo el cambio de campana solicitado por la tienda. Ademas se hizo anotaciones de otras ventanas que necesitaran cambio y se solicito a la tienda ingresar un nuevo ticket.
                          </p>
                        </div>
                      </div>
                      
                    </div>






                  <!-- end::Quick Sidebar -->
                  <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
                    <div class="m-messenger__seperator"></div>
                    <div class="m-messenger__form">
                      <div class="m-messenger__form-controls">
                        <input type="text" name="" placeholder="Ingresar un comentario..." class="m-messenger__form-input">
                      </div>
                      <div class="m-messenger__form-tools">
                        <a class="m-messenger__form-attachment">
                          <i class="la la-send"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>



              </div>
              <!-- <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div> -->
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-7">
                    <button routerLink="/tickets" type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                      Guardar
                    </button> &nbsp;&nbsp;
                    <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane active" id="m_user_profile_tab_2"></div>
      </div>
    </div>
  </div>
</div>