/* You can add global styles to this file, and also import other style files */

#angular-oauth-oidc-silent-refresh-iframe {
    display: none;
}

#angular-oauth-oidc-check-session-iframe{
    display: none;
}

#loadingSpinnerNGR{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.whiteFont{
    color:#ffffff !important;
}

.prioridadA{
    background-color: #e7505a;
}

.prioridadB{
    background-color:#f2784b;
}

.prioridadC{
    background-color:#c49f47;
}

.row[class*=m-row--col-separator-].boxstats>div {
    border-bottom: 12px solid #ebedf2;
}

/* .m-widget24 .m-widget24__item .m-widget24__desc_custom{
    display: block;
    margin-left:1.8rem;
    font-size:1rem;
    font-weight:300;
} */

.m-widget24 .m-widget24__item .m-widget24__title {
    margin-left: -4.25rem;
    margin-top: 3.21rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
}

.m-widget24 .m-widget24__item .m-widget24__desc_custom{
    display: inline-block;
    margin-left:-4.25rem;
    font-size:1rem;
    font-weight:300;
}

.m-widget24__item {
    overflow: hidden;
}

.row.m-row--col-separator-xl.boxstats .visual {
    padding-top: 35px;
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}

.custom-color{
    color: #f2784b !important;
    opacity: .2;
}

.row.m-row--col-separator-xl.boxstats .visual>i {
    display: inline-block !important;
    box-sizing: border-box;
    margin-left: -40px;
    font-size: 110px;
    line-height: 140px;
    color: #fff;
    opacity: .2;
}

@media only screen and (min-width: 1200px) {
    .row.m-row--col-separator-xl.boxstats>div {
        border-bottom: 0;
        border-right: 10px solid #ebedf2;
    }

    .row.m-row--col-separator-xl.boxstats>:last-child {
        border-bottom: 0;
        border-right: 0px solid #ebedf2;
    }
}



/* STYLING DETAILS TICKET PORTLET */

.portlet-details .detail-group {
    padding-top: 0px;
    padding-bottom: 0px;
}
.portlet-details .detail-group.detail-last {
    padding-bottom: 18px;
}

.portlet-details h3.m-form__section.title{
    /* margin-bottom: 15px;
    margin-top: 10px; */
    color: #36a3f7;
    padding-top: 0px;
    padding-bottom: 20px;
}

.portlet-details .detail-group .detail-label-holder {
    padding-top: 0px;
    padding-bottom: 0px;
}
.portlet-details .detail-group label.detail-label {
    margin-bottom: 0;
    font-weight: 500;
}


.portlet-details .detail-group .detail-value {
    padding-top: 0px;
    padding-bottom: 0px;
}
.portlet-details .detail-group .detail-value p {
    margin-bottom: 0;
}

/* 0.0em 0.5em 0.0em 0.5em */

/* STYLING NEW TICKET PORTLET */
/* Styling the main portlet */

form.newTicketForm p-dropdown.ng-dirty.ng-invalid > .ui-dropdown{
    border-bottom-color: #EBEDF3;
}

form.newTicketForm p-dropdown.ng-submitted.ng-invalid > .ui-dropdown{
    border-left:4px solid #e13131;
    border-bottom-color: #EBEDF3;
}

form.newTicketForm p-dropdown.ng-dirty.ng-invalid > .ui-dropdown:not(.ui-state-disabled):hover {
    background-color: #d9d9d9;
    border-bottom-color: #cccccc;
}

form.newTicketForm textarea.new-ticket-comment.ng-submitted.ng-invalid {
    border-left:4px solid #e13131;
    border-bottom-color: #EBEDF3;
}
.portlet-new-ticket .new-ticket-group{
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Styling the portlet title */
.portlet-new-ticket h3.m-form__section.title{
    color: #36a3f7;
    padding-top: 20px;
    padding-bottom: 0px;
}
/* .portlet-details .detail-group.detail-last {
    padding-bottom: 18px;
} */

/* .portlet-details h3.m-form__section.title{
    color: #36a3f7;
    padding-top: 0px;
    padding-bottom: 20px;
} */
/* Styling the dropdown labels */
.portlet-new-ticket .new-ticket-group .new-ticket-label-holder {
    padding-top: 1em;
    padding-bottom: 0px;
    text-align: right;
    
}
.portlet-new-ticket .new-ticket-group label.new-ticket-label {
    margin-bottom: 0;
    font-weight: 500;
}

.portlet-new-ticket .new-ticket-group .new-ticket-value > textarea.new-ticket-comment {
    width: 100%;
    border-color: #EBEDF3;
    border-radius: 0.25em;
    padding: 0.5em 1.25em;
    font-size: 1em;
    color: #55595c;
}

.portlet-new-ticket .new-ticket-group .new-ticket-value > textarea.new-ticket-comment:focus {
    width: 100%;
    border-color: #716aca;
    border-radius: 0.25em;
    outline: none;
    
}

/* Styling dropdown label when in mobile size */
@media only screen and (max-width: 640px) {
    
    /* STYLING DROPDOWN LABELS */
    /* Styling first dropdown label */
    .portlet-new-ticket .new-ticket-group .new-ticket-label-holder {
        padding-top: 1em;
        padding-bottom: 0px;
        text-align: left;
        
    }
    
}


/* 
.portlet-details .detail-group .detail-value {
    padding-top: 0px;
    padding-bottom: 0px;
} */
/* .portlet-details .detail-group .detail-value p {
    margin-bottom: 0; */





/* Styling PrimeNG grid for dropdowns in Admin Tickets Page */
/* Styling first dropdown lable */
.ui-g.ticketfilters .first > .dd-label{
    padding-top:15px;
    padding-bottom:0px;
    line-height:0px;
}
/* Styling middle dropdown lable */
.ui-g.ticketfilters .middle > .dd-label{
    padding-top:15px;
    padding-bottom:0px;
    line-height:0px;
    padding-left:10px;
    padding-right:10px;
}
/* Styling last dropdown lable */
.ui-g.ticketfilters .last > .dd-label{
    padding-top:15px;
    padding-bottom:0px;
    line-height:0px;
    padding-left:20px;
}

/* Styling first dropdown selector */
.ui-g.ticketfilters .first > .dd-selector{
    padding-right:20px;
}
/* Styling middle dropdown selector */
.ui-g.ticketfilters .middle > .dd-selector{
    padding-left:10px;
    padding-right:10px;
}
/* Styling last dropdown selector */
.ui-g.ticketfilters .last > .dd-selector{
    padding-left:20px;
}

/* Styiling dropdown selection label wrapping on overflow*/
.ui-dropdown .ui-dropdown-label {
    white-space: pre-wrap !important;
}

/* Styling dropdown label and selector padding when in mobile size */
@media only screen and (max-width: 640px) {
    
    /* STYLING DROPDOWN LABELS */
    /* Styling first dropdown label */
    .ui-g.ticketfilters .first > .dd-label{
        padding-top:15px;
    }
    /* Styling middle dropdown label */
    .ui-g.ticketfilters .middle > .dd-label{
        padding-top:15px;
        padding-left:6.5px;
        padding-right:0px;
    }
    /* Styling last dropdown label */
    .ui-g.ticketfilters .last > .dd-label{
        padding-top:15px;
        padding-left:6.5px;
    }

    /* STYLING DROPDOWN SELECTORS */
    /* Styling first dropdown selector */
    .ui-g.ticketfilters .first > .dd-selector{
        padding-left:6.5px;
        padding-right:0px;
    }
    /* Styling middle dropdown selector */
    .ui-g.ticketfilters .middle > .dd-selector{
        padding-left:6.5px;
        padding-right:0px;
    }
    /* Styling last dropdown selector */
    .ui-g.ticketfilters .last > .dd-selector{
        padding-left:6.5px;
        padding-right:0px;        
    }
}


/* Styling PrimeNG dropdowns */
.ui-dropdown .ui-dropdown-label {
    border-color: #716aca!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

/* styling the primeNG dropdown selected label features */
.ui-dropdown-label.ui-inputtext.ui-corner-all, 
.ui-dropdown-trigger
{
    background-color: white !important;
    line-height: 1.5;
    padding: 0.5em 1.25em;
}

.ui-shadow{
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2) !important;
}

.ui-dropdown-items{
    font-family: sans-serif,Arial !important;
    line-height: 2.0 !important;
}

/* styling the primeNG dropdown single item */
.ui-dropdown-item{
    padding: 0.375em 1.25em !important;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: 100 !important;
}
/* #EBEDF3 */
.ui-dropdown-item:hover{
    background-color: #f4f5f8 !important;
}

.ui-dropdown-item.ui-state-highlight {
    background-color: #f7f8fa !important;
    color: #3f4047 !important;
}

/* styling the main border from primeNG dropdown item (when panel is closed) */
p-dropdown > .ui-dropdown.ui-widget{
    border-color: #EBEDF3;
}

/* styling the main border from primeNG dropdown item (when panel is closed) */
p-dropdown > .ui-dropdown.ui-widget.ui-dropdown-open{
    border-color: #716aca;
}

/* styling the input search box from primeNG dropdown item (shown when panel is open)*/
.ui-dropdown-filter-container > input.ui-dropdown-filter.ui-inputtext{
    border-color: #716aca;
}

/* styling border from primeNG dropdown panel (shown when dropdown open)  */
.ui-dropdown.ui-widget > .ui-dropdown-panel.ui-widget-content{
    border-color: transparent;
}


/* Styling PrimeNG multiselct */

p-multiselect > .ui-multiselect.ui-widget{
    border: 1px solid #EBEDF3;
}

p-multiselect > .ui-multiselect.ui-widget:hover{
    border: 1px solid #cccccc;
    background-color: transparent;
}

p-multiselect > .ui-multiselect.ui-widget.ui-state-focus{
    border: 1px solid #716aca;    
}

.ui-multiselect-label-container	> label.ui-multiselect-label{
    margin: 0px;
    padding: 0em 0.5em;
}

.ui-multiselect-panel{
    border: 0px solid transparent !important;
    margin-bottom: 0px;
}

.ui-multiselect-panel > .ui-widget-header{
    margin: 0px;
}

.ui-multiselect-items{
    line-height: 2.0 !important;
}

li.ui-multiselect-item > label {
    margin: 0px;
}

.ui-multiselect-label-container > label.ui-multiselect-label{
    font-family: sans-serif , Arial;
    font-weight: 100;
}

.ui-multiselect-item.ui-state-highlight{
    background-color: #f7f8fa !important;
    color: #3f4047 !important;
}

.ui-multiselect-panel .ui-multiselect-item > label{
    font-weight: 100 !important;
    
}
.ui-multiselect .ui-multiselect-item.ui-state-highlight .ui-chkbox
{
    border: 0px solid transparent !important;
}

.ui-chkbox .ui-chkbox-box.ui-state-active{
    border: 1px solid #716aca !important;
    background-color: #716aca !important;
}

.ui-multiselect:not(.ui-state-disabled) .ui-multiselect-trigger:hover {
    background-color: transparent !important;
}

.ui-multiselect:not(.ui-state-disabled):hover .ui-multiselect-trigger {
    background-color: transparent !important;;
}

/* Styling PrimeNG Calendar Select Dropdonw */

/* styling the main border and line-height from primeNG calendar item (when panel is closed) */
p-calendar input.ui-inputtext.ui-widget{
    line-height: 1.5;
    border: 1px solid #EBEDF3
}

/* styling the main border ON HOVER from primeNG calendar item (when panel is closed) */
p-calendar input.ui-inputtext.ui-widget:hover{
    border: 1px solid #cccccc
}

/* styling the icon background color from primeNG calendar item (when panel is closed) */
p-calendar button.ui-datepicker-trigger.ui-calendar-button{
    background-color: #5766dd;
}

/* styling the icon background color from primeNG calendar item (when panel is closed) */
p-calendar button.ui-datepicker-trigger.ui-calendar-button:hover{
    background-color: #5766dd;
}

/* styling the main border and line-height from primeNG calendar item (when panel is closed) */
p-calendar.ui-inputwrapper-focus input.ui-inputtext.ui-widget{
    border: 1px solid #716aca;
}

/* removing the border from primeNG calendar date selection area (when panel is open) */
p-calendar .ui-datepicker.ui-widget.ui-widget-content{
    border: 0px solid transparent;
}

p-calendar .ui-datepicker.ui-widget.ui-widget-content{
    border: 0px solid transparent;
}

/* styles the active dates selected that are part of the current month from primeNG calendar date selection area (when panel is open) */
body .ui-datepicker table.ui-datepicker-calendar td:not(.ui-state-disabled) a.ui-state-active {
    background-color: #5766dd !important;
}

/* styles the active dates selected that are part of the next month from primeNG calendar date selection area (when panel is open) */
body .ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled a.ui-state-active {
    color: #ffffff !important;
    background-color: #9ea6eb !important;
}


/* STYLING DATATABLES */

/* Styling header */
p-datatable.metronic-theme .ui-datatable .ui-datatable-thead > tr > th {
    background-color: #f4f3fb;
    border-color: transparent;
    color: #373a3c;
    font-weight: 700;
    line-height: 1.94;
    
}

p-datatable.metronic-theme .ui-datatable .ui-datatable-data > tr > td {
    border-color: transparent;
}

p-datatable.metronic-theme .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    background-color: #fbfbfe;
}

p-datatable.metronic-theme .ui-datatable .ui-datatable-data tr.ui-datatable-even:hover {
    background-color: #f7f7fc;
}
p-datatable.metronic-theme .ui-datatable .ui-datatable-data tr.ui-datatable-odd:hover {
    background-color: #f7f7fc;
}

/* #f7f7fc */


/* Styling paginator */
p-datatable.metronic-theme p-paginator .ui-paginator-bottom.ui-paginator{
    border: 0px solid transparent;
    margin-top: 20px;
}

p-datatable.metronic-theme p-paginator .ui-paginator-pages .ui-paginator-page{
    min-width: 2.5em;
    border-radius: 50%;
    margin-left: .15em;
    margin-right: .15em;    
    font-weight: 400;
}

/* style paginator pages that are not selected */
p-datatable.metronic-theme p-paginator a.ui-paginator-page.ui-paginator-element {
    background-color: #ffffff;
    color: #898b96;
}

/* style paginator pages ON HOVER that are not selected */
p-datatable.metronic-theme p-paginator a.ui-paginator-page.ui-paginator-element:hover {
    background-color:rgb(237, 236, 248);
    color: #716aca;
}

/* style paginator pages that IS selected */
p-datatable.metronic-theme p-paginator a.ui-paginator-page.ui-paginator-element.ui-state-active {
    background-color: #716aca;
    color: #ffffff;
}
/* style paginator page ON HOVER that IS selected */
p-datatable.metronic-theme p-paginator a.ui-paginator-page.ui-paginator-element.ui-state-active:hover {
    background-color: #716aca;
    color: #ffffff;
}

p-datatable.metronic-theme p-paginator .ui-paginator-bottom > a.ui-paginator-element {
    color: #716aca;
}




