<!-- END: Subheader -->
<p-confirmDialog header="Prioridad Alta" icon="la la-warning" width="425" class="confirm-high-priority" #cd>
    <p-footer>
      <button type="button" pButton icon="la la-check" label="Si" class="confirm" (click)="cd.accept()"></button>
      <button type="button" pButton icon="la la-close" label="No" class="reject" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>

<div class="row animationtest">
  
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--full-height">
        <!-- <div class="m-portlet__head">
        </div> -->
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <form novalidate class="m-form newTicketForm" [formGroup]="newTicketForm" (ngSubmit)="onSubmit(newTicketForm)">
  
              <div class="m-portlet__body">
  
  
                <!-- <div *ngIf="ticketDetails$ | async; let ticketDetails" class="ui-g" > -->
                <div class="ui-g" >  
                  <div class="ui-sm-12 ui-md-12 ui-lg-offset-2 ui-lg-8 portlet-new-ticket">
                    <div class="ui-g-12 new-ticket-group title">
                      <h3 class="m-form__section title">
                        <i class="la la-cog"></i>
                        INGRESA TU NUEVA SOLICITUD
                      </h3>
                      <div class="m-form__seperator m-form__seperator m-form__seperator--space-2x"></div>
                      <div *ngIf="!newTicketForm.valid && submitAttemptedFlag" class="alert alert-danger" role="alert" style="background-color: #fbe1e3; border-color: #fbe1e3; color: #e73d4a;">
                        <ul style="margin-bottom:0px">
                          <li *ngIf="!newTicketForm.controls['brand'].valid">Seleccionar la Marca</li>
                          <li *ngIf="!newTicketForm.controls['store'].valid">Seleccionar la Tienda</li>
                          <li *ngIf="!newTicketForm.controls['classification'].valid">Seleccionar la Clasificación</li>
                          <li *ngIf="!newTicketForm.controls['family'].valid">Seleccionar la Familia</li>
                          <li *ngIf="!newTicketForm.controls['equipmentDetail'].valid">Seleccionar el Equipo</li>
                          <li *ngIf="!newTicketForm.controls['failType'].valid">Seleccionar el Tipo de Falla</li>
                          <li *ngIf="!newTicketForm.controls['comment'].valid">Agregar un Commentario</li>
                        </ul>
                      </div>
                    </div>
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Marca*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="brandDropdown" [(ngModel)]="selectedBrand" (ngModelChange)="onBrandChange($event)" optionLabel="description"
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="brand"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Tienda*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="storeDropdown" [(ngModel)]="selectedStore" (ngModelChange)="onStoreChange($event)" filter="true" optionLabel="description" 
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="store"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Clasificación*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="equipmentClassDropdown" [(ngModel)]="selectedClassification" (ngModelChange)="onClassificationChange($event)" optionLabel="description" 
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="classification"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Familia*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="familyDropdown" [(ngModel)]="selectedFamily" (ngModelChange)="onFamilyChange($event)" filter="true" optionLabel="description" 
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="family"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Equipo*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="equipmentDetailDropdown" [(ngModel)]="selectedEquipment" (ngModelChange)="onEquipmentChange($event)" filter="true" optionLabel="description" 
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="equipmentDetail"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
  
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Tipo de Falla*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <p-dropdown [options]="failureTypeDropdown" [(ngModel)]="selectedFailureType" optionLabel="description" 
                        [autoWidth]="false" dropdownIcon="fa fa-angle-down" formControlName="failType"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></p-dropdown>
                      </div>
                    </div>
  
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Comentario*
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <textarea [rows]="5" pInputTextarea [(ngModel)]="comment" class="new-ticket-comment" 
                        placeholder="Ingresa un comentario..." formControlName="comment"
                        [ngClass]="{'ng-submitted': submitAttemptedFlag}"></textarea>
                      </div>
                    </div>
  
                    <div class="ui-g-12 new-ticket-group">
                      <div class="ui-g-4 ui-sm-12 ui-md-4 ui-xl-3 new-ticket-label-holder">
                        <label class="m-label new-ticket-label">
                          Sólo Marcar si es Emergencia Grave
                        </label>
                      </div>
                      <div class="ui-g-8 ui-sm-12 ui-md-8 ui-xl-9 ui-fluid new-ticket-value">
                        <div>
                            <p-checkbox [(ngModel)]="affectPeople" formControlName="affectPeople" label="¿Afecta seguridad/salud de las personas?" binary="true"></p-checkbox>
                        </div>
                        <div>
                            <p-checkbox [(ngModel)]="affectStore" formControlName="affectStore" label="¿Alta posibilidad de dejar de vender?" binary="true"></p-checkbox>
                        </div>
                        
                      </div>
                    </div>
                    
  
  
                  </div>
                    
  
  
  
                </div>
                <!-- <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div> -->
              </div>
              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions" style="padding-top:20px; padding-bottom:20px;">
                  <div class="row ui-g">
                      <div class="ui-sm-6 ui-md-offset-3 ui-md-3 ui-lg-offset-3 ui-lg-3"  style="text-align:right;">
                          <button type="submit" label="Submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                              Ingresar
                            </button>
                      </div>
                      <div class="ui-sm-6 ui-md-3 ui-lg-3">
                          <button (click)="onCancel()" type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                              Cancelar
                            </button>
                      </div>

                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane active" id="m_user_profile_tab_2"></div>
        </div>
      </div>
    </div>
  </div>
